{% extends "order/base.html" %}

{% block title %} Browse supplies {% endblock %}

{% block content %}


{% if role == 'Dispatcher' or role == 'Warehouse Personnel' %}

  <h1>You do not have permission to access this page.</h1>

{% else %}

  <h3>Browse supplies</h3>
  <hr>
  <div class="d-flex justify-content-around">
    <h4>Supply list</h4>
    <form class="col-12 col-md-6 row" action="{% url "order:search_view" %}" method="get" accept-charset="utf-8">
      <input class="col-9 form-control" id="searchbox" name="q" type="text" placeholder="Search">
      <button class="col-2 btn btn-primary btn-sm ml-2">Search</button>
    </form>
  </div>
  <div class="justify-content-center mt-4">
  {% if supplies %}
  <table class="table">
  <th><tr>
  <td>Type</td>
  <td>Image</td>
  <td>Description</td>
  <td>Weight</td>
  <td>Action</td>
  </tr></th>
  {% for supply in supplies %}
  <tr>
 
  <form class=" m-3" action="{% url "cart:cart_add" supply.id %}" method="post">
    <td>
      <span class="badge badge-secondary">{{ supply.type.name }}</span>
    </td>
    <td>
      <img src="{{ supply.img.url }}" height="100" width="100" alt="{{ supply.description }}">
    </td>
    <td>
      {{ supply.description }}
    </td>
    <td>
      {{ supply.weight }}kg
    </td>
    <td>
        <input class="btn btn-primary m-3" type="submit" value="Add"/>
    </td>
	{{ cart_supply_form }}
        {% csrf_token %}
	</form>
  </tr>
  {% endfor %}
  {% else %}
    <div class="alert alert-info" role="alert">
      Supply not found
    </div>
  {% endif %}
  </table>
  </div>
  
  <div class="row justify-content-center mb-4 mt-3">
    {% include "pagination.html" with page=supplies %}
  </div>

{% endif %}

{% endblock %}