{% extends "base.html" %}
{% load static %}
{% block menu %} {% include "menu.html" %} {% endblock %}

{% block title %} Temporary order {% endblock %}

{% block content %}
  <h1>Temporary order</h1>

  {% if msg == 'overweight' %}
    <div class="alert alert-warning" role="alert">
	  <strong>Overweight.</strong> Please remove some items to resume ordering, or submit the current order only.
	</div>
  {% endif %}
  <table class="cart table table-striped">
      <thead>
      <tr>
        <td>Type</td>
        <td>Name</td>
        <td>Quantity</td>
        <td>Weight</td>
        <td>Total weight</td>
        <td>Action</td>
      </tr>
      </thead>
    {% if  cart.get_total_weight > 1.2 %}
      {% for item in cart %}
        {% with supply=item.supply %}
          <tr>
            <td>{{ supply.type }}<img class="" src="{{ supply.img.url }}" height="150" width="150" alt="Card image cap"></td>
            <td>{{ supply.description }}</td>
            <td>
              <form action="{% url "cart:cart_add" supply.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" class="btn btn-default" value="Update">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">{{ item.weight }}kg</td>
            <td class="num">{{ item.total_weight }}kg</td>
            <td>
              <form action="{% url "cart:cart_remove" supply.id %}" method="post">
                <input type="submit" class="btn btn-danger" value="Remove">
                {% csrf_token %}
              </form>
            </td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td colspan="5">Total (Packaged)</td>
        <td class="num">{{ cart.get_total_weight }}kg</td>
      </tr>
  </table>
  <p class="text-right">
  {% if cart.get_total_weight < 25 %}
    <a href="{% url 'order:supply_list' %}" class="btn btn-default">Continue ordering</a>
    <a href="{% url 'order:order_create' %}" class="btn btn-primary">Make order</a>
  {% else %}
    <div class="alert alert-warning" role="alert">
	  Order weight exists 25kg, overweight occurs - Please consider removing some items before proceeding to order.
	</div>
  {% endif %}
  </p>
  {% else %}
  <div class="alert alert-info" role="alert">
	  No item is added to the order
	</div>
  {% endif %}
  
  
{% endblock %}