{% extends "loginBase.html" %}
{% load staticfiles %}

{% block title %} ASP login {% endblock %}
{% block style %}
<link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}

{% load widget_tweaks %}
{% block content %}
<div class="wrapper">
  <div class="login-form">
  <div class="col-12 col-md-8 main-div">
	<div class="panel">
	<h2>AS pilot system Log-in</h2>
	{% if form.errors %}
    <p>
      Your username and password didn't match. 
      Please try again.
    </p>
  {% else %}
    <p>Please use the following form to log-in: </p>
  {% endif %}
    <form id="Login" action="{% url 'login' %}" method="post">
	{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field|add_class:"form-control" }}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
{% endfor %}

      {% csrf_token %}
      <input type="hidden" name="text" value="{{ next }}" />
      <p><input type="submit" class="btn btn-primary" value="Login"></p>
	  <a href="{% url 'passwordReset' %}">Fotgot password</a>
    </form>
	</div>
	</div>
  </div>
  
</div>
{% endblock %}