{% extends "base.html" %}
{% load static %}
{% block menu %} {% include "menu.html" %} {% endblock %}

{% block title %} Dispatch order {% endblock %}

{% block content %}
	<h3 class="mb-3">Order record</h3>
	<h5>Orders to be loaded to the next available drone</h5>
	<button class="btn btn-primary mb-3" id="generate">Generate drone itinerary</button>
	<button class="btn btn-info mb-3 ml-2" id="dispatched">Mark these orders as dispatched</button>
	<table class="table">
		<thead>
			<tr>
			<th>Order ID</th>
			<th>Priority</th>
			<th>Clinic</th>
			<th>Total shipping weight</th>
			</tr>
		</thead>
		<tbody>
			{% for order in for_dispatch %}
				<tr>
				<td>{{order.id}}</td>
				<td>{{order.priority}}</td>
				<td>{{order.clinic}}</td>
				<td>{{order.get_total_weight}} kg</td>
				</tr>
			{% endfor %}
			<tr><td colspan=2></td><td>{{total_loc}} Destination(s)</td><td>{{total_weight}} kg</td></tr>
		</tbody>
		</table>
		<div></div>
		<h5>Queued for dispatch</h5>
		<table class="table">
			<thead>
			<tr>
				<th>Order ID</th>
				<th>Priority</th>
				<th>Order time</th>
				<th>Clinic</th>
				<th>Summary</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
				{% for order in in_queue %}
					<tr>
						<td>{{order.id}}</td>
						<td>{{order.priority}}</td>
						<td>
							{% if order.status == 'Order' %}
								{{order.order_time}}
							{% elif order.status == 'Processing' %}
								{{order.processing_time}}
							{% elif order.status == 'Processed' %}
								{{order.processed_time}}
							{% elif order.status == 'Dispatched' %}
								{{order.dispatched_time}}
							{% else %}
								{{order.delivered_time}}
							{% endif %}
						</td>
						<td>{{order.clinic}}</td>
						<td>{{order.get_total_weight}} kg</td>
						<td><a class="btn btn-info" href="">View</a></td>
					</tr>
				{% endfor %}
			</tbody>
	</table>
{% endblock %}