{% extends "base.html" %}
{% load static %}
{% block menu %} {% include "menu.html" %} {% endblock %}

{% block title %} Order history {% endblock %}

{% block content %}
  <h1>Order history</h1>

  <table class="cart table table-striped">
      <thead>
      <tr>
        <td>Last updated</td>
        <td>Order ID</td>
        <td>Priority</td>
        <td>Status</td>
        <td>Action</td>
      </tr>
      </thead>
      {% for order in orders %}
	    <tr>
		  <td>
		  {% if order.status.value == 1 %}
		    {{order.order_time}}
		  {% elif order.status.value == 2 %}
		    {{order.processing_time}}
		  {% elif order.status.value == 3 %}
		    {{order.processed_time}}
		  {% elif order.status.value == 4 %}
		    {{order.dispatched_time}}
		  {% elif order.status.value == 5 %}
		    {{order.delivered_time}}
		  {% else %}
		     Not identified
		  {% endif %}
		  </td>
		  <td>{{order.id}}</td>
		  <td>{{order.priority}}</td>
		  <td>{{order.status.label}}</td>
		  <td>
		    <a href="{% url 'order:order_detail' order.id %}" class="btn btn-info btn-sm mr-2">Detail</a>
			{% if order.status.value == 1 %}
		    <a href="{% url 'order:cancel_order' order.id %}" class="btn btn-warning btn-sm">Cancel</a>
			{% endif %}
      {% if order.status.value == 4 %}
        <a href="{% url 'order:mark_delivered' order.id %}" class="btn btn-success btn-sm">Delivered</a>
      {% endif %}
		  </td>
		</tr>
	  {% endfor %}
  </table>

{% endblock %}
