{% extends "base.html" %}
{% load static %}
{% load order_extra %}
{% block menu %} {% include "menu.html" %} {% endblock %}

{% block title %} Order detail {% endblock %}

{% block content %}
{% if role == 'Warehouse Personnel' %}
  <a href="{% url 'warehouse:order_warehouse' %}" class="m-3 btn btn-primary">Back</a>
{% elif role == 'Dispatcher' %}
  <a href="{% url 'dispatch:order_dispatch' %}" class="m-3 btn btn-primary">Back</a>
{% else %}
  <a href="{% url 'order:order_history' %}" class="m-3 btn btn-primary">Back</a>
{% endif %}

{% if order.status.value == 2 %}
  <a href="{% url 'warehouse:getShippingLabel' order.id %}" class="m-3 btn btn-info">Generate shipping label</a>
{% endif %}
  <h1>Order detail</h1>
  <ul>
    <li>Order id: <span>{{order.id}}</span></li>
    <li>Clinic: {{order.clinic}}</li>
    <li>Priority: {{order.priority}}</li>
    <li>Status: {% if order.status.value == 3 %}Queued for dispatch{% elif order.status.value == 4 %}Dispatched{% else %}{{order.status}}{% endif %}</li>
    <li>Order time: {% if not order.order_time %}-{% else %}{{order.order_time}}{%endif%}</li>
    <li>Processing time: {% if not order.processing_time %}-{% else %}{{order.processing_time}}{%endif%}</li>
    <li>Processed time: {% if not order.processed_time %}-{% else %}{{order.processed_time}}{%endif%}</li>
    <li>Dispatched time: {% if not order.dispatched_time %}-{% else %}{{order.dispatched_time}}{%endif%}</li>
    <li>Delivered time: {% if not order.delivered_time %}-{% else %}{{order.delivered_time}}{%endif%}</li>
  </ul>
  <h3>Content</h3>
  <table class="cart table table-striped">
      <thead>
      <tr>
        <td>Type</td>
        <td>Name</td>
        <td>Quantity</td>
        <td>Weight</td>
        <td>Total weight</td>
      </tr>
      </thead>
      {% for item in content %}
        {% with supply=item.medical_supply %}
          <tr>
            <td>{{ supply.type }}</td>
            <td>{{ supply.description }}</td>
            <td class="num">{{ item.quantity }}</td>
            <td class="num">{{ item.medical_supply.weight }}kg</td>
            <td class="num">{{ item.weight|multiply:item.quantity }}kg</td>
          </tr>
        {% endwith %}
      {% endfor %}
	  <tr><td colspan="4">Total: </td><td>{{ weight }}kg</td></tr>
  </table>
  
{% endblock %}