{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block menu %} {% include "menu.html" %} {% endblock %}

{% load widget_tweaks %}
{% block content %}
  <h1>Change your password</h1>
  <hr>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <h4 class="{{ message.tags }}">{{ message }}</h4>
    {% endfor %}
  </ul>
{% endif %}

  
  <form method="post">
	{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field|add_class:"form-control" }}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
{% endfor %}

      {% csrf_token %}
      <input type="hidden" name="text" value="{{ next }}" />
      <p><input type="submit" class="btn btn-primary" value="Confirm"></p>
    </form>
{% endblock %}