{% extends "loginBase.html" %}
{% load staticfiles %}
{% block style %}
<link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}Password Reset{% endblock %}

{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% load widget_tweaks %}
{% block content %}


  <div class="wrapper">
  <div class="login-form">
  <div class="col-12 col-md-8 main-div">
	<div class="panel">
	<h2>Forget password</h2>
	<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form id="Login" method="post">
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">Email address:&ensp;</label>
        {{ form.email|add_class:"form-control"  }}
    </div>
    <input type="submit" class="btn btn-primary mt-3" value="Reset my password">
</fieldset>

      {% csrf_token %}
    </form>
	</div>
	</div>
  </div>
  
</div>
{% endblock %}